{%
  set classes = [
    'block',
    'block-menu',
    'navigation',
    'menu--' ~ derivative_plugin_id|clean_class,
    'cfu-block'
  ]
%}
{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes.addClass(classes)|without('role', 'aria-labelledby') }}>
  <div class="cfu-block--container footer-navigation--container">

    <div class="footer-navigation--contacts">

      <span>©
        {{"V.I. Vernadsky Crimean Federal University" | t}}
        {{ "now"|date("Y") }}
      </span>

      {# Menu. #}
      {% block content %}
        {{ content }}
      {% endblock %}

    </div>

    <div class="footer-navigation--logo">
      <img alt="" src="/{{ base_path ~ directory }}/logo.png"/>
    </div>
  </div>
</nav>
